<!DOCTYPE html>
<html>
<head>
    <title>Opções</title>
    <link rel="stylesheet" href="../static/opcao.css">
    <style>
        header { text-align: center; }
        .sub-options {
            display: none;
        }
        table {
            display: none;
        }
        .visible {
            display: block;
        }
        form {
            display: none;
        }
    </style>
</head>
<body>
    <header id="cabecalho">
        <hgroup>
            <h1>casas portiguar</h1>
        </hgroup>
    </header>

    <p>Olá, {{ nome }}!</p>

    <button onclick="toggleOptions('funcionarios')">Funcionários</button>
    <div class="sub-options" id="funcionarios">
        <button onclick="showTable('tabelaFuncionarios')">Consultar funcionário</button><br>
        <table id="tabelaFuncionarios" class="table">
            <tr>
                <th>
                    CPF
                </th>
                {%for dado in dadosf%}
                <td>
                    {{dado[0]}}
                </td>
                {%endfor%}
            </tr>

            <tr>
                <th>
                    Nome
                </th>
                {%for dado in dadosf%}
                <td>
                    {{dado[1]}}
                </td>
                {%endfor%}
            </tr>

            <tr>
                <th>
                    Função
                </th>
                {%for dado in dadosf%}
                <td>
                    {{dado[2]}}
                </td>
                {%endfor%}
            </tr>
        </table>

        <button onclick="showForm('formFuncionarios')">Adicionar funcionário</button><br>
            <form id="formFuncionarios" class="form" method="POST" action="/add_funcionario">
                <label for="cpf">CPF:</label><br>
                <input type="text" id="cpf" name="cpf"><br><br>
                <label for="nomeF">Nome:</label><br>
                <input type="text" id="nomeF" name="nomeF"><br><br>
                <label for="funcao">Função:</label><br>
                <input type="text" id="funcao" name="funcao"><br><br>
                <label for="salario">Salário:</label><br>
                <input type="text" id="salario" name="salario"><br><br>
                <label for="telefone">Telefone:</label><br>
                <input type="text" id="telefone" name="telefone"><br><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br><br>
                <input type="submit" value="Enviar">
            </form>
        <button onclick="showForm('formAtualizarFuncionario')">Atualizar dados do funcionário</button>
            <form id="formAtualizarFuncionario" class="form" method="POST" action="/atualizar_funcionario">
                <label for="cpf">CPF do Funcionário:</label><br>
                <input type="text" id="cpf" name="cpf"><br><br>
                <label for="novo_nome">Novo Nome:</label><br>
                <input type="text" id="novo_nome" name="novo_nome"><br><br>
                <label for="nova_funcao">Nova Função:</label><br>
                <input type="text" id="nova_funcao" name="nova_funcao"><br><br>
                <label for="novo_salario">Novo Salário:</label><br>
                <input type="text" id="novo_salario" name="novo_salario"><br><br>
                <label for="novo_telefone">Novo Telefone:</label><br>
                <input type="text" id="novo_telefone" name="novo_telefone"><br><br>
                <label for="novo_email">Novo Email:</label><br>
                <input type="text" id="novo_email" name="novo_email"><br><br>
                <input type="submit" value="Atualizar">
            </form>
        

    </div>

    <br><br>

    <button onclick="toggleOptions('produtos')">Produtos</button>
    <div class="sub-options" id="produtos">
        <button onclick="showTable('tabelaProdutos')">Consultar produto</button><br>
        <table id="tabelaProdutos" class="table">
            <tr>
                <th>
                    Código
                </th>
                {%for dado in dadosp%}
                <td>
                    {{dado[0]}}
                </td>
                {%endfor%}
            </tr>

            <tr>
                <th>
                    Nome
                </th>
                {%for dado in dadosp%}
                <td>
                    {{dado[1]}}
                </td>
                {%endfor%}
            </tr>

            <tr>
                <th>
                    Tipo
                </th>
                {%for dado in dadosp%}
                <td>
                    {{dado[2]}}
                </td>
                {%endfor%}
            </tr>
        </table>

        <button onclick="showForm('formProdutos')">Adicionar produto</button><br>
            <form id="formProdutos" class="form" method="POST" action="/add_produto">
                <label for="codigo">Código:</label><br>
                <input type="text" id="codigo" name="codigo"><br><br>
                <label for="nomeP">Nome:</label><br>
                <input type="text" id="nomeP" name="nomeP"><br><br>
                <label for="tipo">Tipo:</label><br>
                <input type="text" id="tipo" name="tipo"><br><br>
                <label for="descricao">Descrição:</label><br>
                <input type="text" id="descricao" name="descricao"><br><br>
                <label for="valor">Valor:</label><br>
                <input type="text" id="valor" name="valor"><br><br>
                <label for="qntdEstoque">Quantidade no Estoque:</label><br>
                <input type="text" id="qntdEstoque" name="qntdEstoque"><br><br>
                <label for="cnpjFornecedor">CNPJ do Fornecedor:</label><br>
                <input type="text" id="cnpjFornecedor" name="cnpjFornecedor"><br><br>
                <input type="submit" value="Enviar">
            </form>
        <button onclick="showForm('formAtualizarProduto')">Atualizar dados do produto</button>
            <form id="formAtualizarProduto" class="form" method="POST" action="/atualizar_produto">
                <label for="codigo">Código do Produto:</label><br>
                <input type="text" id="codigo" name="codigo"><br><br>
                <label for="novo_nome">Novo Nome:</label><br>
                <input type="text" id="novo_nome" name="novo_nome"><br><br>
                <label for="novo_tipo">Novo Tipo:</label><br>
                <input type="text" id="novo_tipo" name="novo_tipo"><br><br>
                <label for="nova_descricao">Nova Descrição:</label><br>
                <input type="text" id="nova_descricao" name="nova_descricao"><br><br>
                <label for="novo_valor">Novo Valor:</label><br>
                <input type="text" id="novo_valor" name="novo_valor"><br><br>
                <label for="nova_qntdEstoque">Nova Quantidade:</label><br>
                <input type="text" id="nova_qntdEstoque" name="nova_qntdEstoque"><br><br>
                <label for="novo_cnpjFornecedor">Novo CNPJ:</label><br>
                <input type="text" id="novo_cnpjFornecedor" name="novo_cnpjFornecedor"><br><br>
                <input type="submit" value="Atualizar">
            </form>
        

    </div>

    <script>
        function toggleOptions(id) {
            var options = document.getElementById(id);
            var tables = options.getElementsByTagName("table");
            var form = options.getElementsByTagName("form");

            for (var i = 0; i < tables.length; i++) {
                tables[i].classList.remove('visible');
            }

            options.classList.toggle('visible');
        }

        function showTable(tableId) {
            var table = document.getElementById(tableId);
            table.classList.toggle('visible');
        }

        function showForm(formId) {
            var form = document.getElementById(formId);
            form.classList.toggle('visible');
        }
    </script>

    <br><br>

    <div id="sair"><a href="/logout">Sair</a></div>
</body>
</html>
